h1{
  text-align: center;
  font-size: 25px;
}
p{
  text-align: center;
}

table{
  margin-top: 2%;
  margin-left:auto;
  margin-right:auto;
}
th {
  height: 50px;
}
td{
  height: 50px;
  text-align: center;
}
